.main-sidebar{
    // width: 10rem;
    position: absolute;
    width: 8%;
    background-color: aquamarine;
    height: 100vh;
    z-index: 1;
    
    button{
        background: transparent;
        width: 2.3rem;
        border: 1px solid black;
        border-radius: 3px;
        padding: 1rem 0 1rem 0;
        .ham-burger{
            width: 100%;
            height: 100%;
            }
    }
}


#hidden{
    left: -5% ;
}
