.App{
    font-family: sans-serif;
    text-align: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
}

.leaflet-container{
    height: 100vh;
}


.rahul{
    background-color: #3b3b3cf3 !important;
    
}


.dashboard
{
    color: aliceblue !important;

}