.white{
  color: whitesmoke !important;
}
.smokewhite{
  color: #ced4da;
}
.normal{
  font-family: 'Dosis', sans-serif;
  font-weight: 600
}
.headingg{
  font-family: 'Belanosima', sans-serif;
}
.sml-heading{
  font-family: 'Ysabeau SC', sans-serif;
}
.bold{
  font-weight: 600;
}
.back-color{
background: linear-gradient(to right, #4b4d4e, #16181a);
}
.data-box{
background: linear-gradient(to right, #753a88, #cc2b5e);
}
.center-all-data{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaniers{
  width: 75%;
}